#page-containers
{
	width	:900px;
	margin	:auto;
	text-align:left;
	
}
html,body {
	
	margin	:0px;
	padding	:0px
}
body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	color: #666666;
	font-size:16px;
	background: #ffffff;
}

a:link {
	text-decoration : none;
	color: #000000;
	
}


a:hover {
	text-decoration : none;
	color: red;	
}
a:active, a:visited {
	color: blue;
	font-weight:bold;	
}

#header {
	margin-top:0px;
	height: 40px;
	padding-bottom:0px;
	background-color:blue;
	/*background :#ffffff
				url(../../assets/images/fm.jpg);
	*/				
	background-repeat:no-repeat
}
#header_menu a{
	color: #666;
	text-decoration: none;
}
#header_menu a:active {
	color: #ffff00;
}

#header_menu{
	height: 15px;
	padding-left:20px;
	padding-top:5px;
	font-weight:bolder;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	
}
#header_index{
	height:676px;
	background :#ffffff
				url(../../assets/images/home.png);
}
#sidebar-a {
	margin:10;
	float: right;
	width: 280px;
	height:600px;
	/*border-left: 1px solid #efefef;*/
	padding-left:10px;
	padding-top:30px;
}
#sidebar-a .padding{
	
	padding-left:3px;
}

#content {
	padding-left:20px;
	font-size:15px;
	margin:0;
	border-right: 1px solid #ccc
	
}
#content .padding{
	padding-left:3px;
		
}
#content #padding2{
	padding-left:3px;
	background :#ffffff
				url(../../assets/images/dot_background.png);
	height:650px;
	
}
#footer {
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 11px;
	height:130px;
	padding-left:20px;
	left-padding: 10px;
	line-height: 18px;
	border-top:1px solid #ccc;
		
}

#footer a {
	color: #c9c9c9;
	text-decoration: none;
}
#footer a:hover{
	color: #db6d16;
}

#footer #altnav {
	width: 350px;
	float: left;
	padding-left:10px;
	color:#c0c0c0;
}
#footer #altnav2 {
	padding-top:15px;
	width: 350px;
	float: right;
	color:#c0dcc0;

}

#kotak #kotak_info{
	color:blue;
}
h1 {
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size:14px;
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 105px;
	padding-right: 51px;
	color:black;
}



#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom:15px;
}
#content p {
	margin: 0;
	padding: 0;
	padding-bottom:15px;

}

#sidebar-a h2{
	margin: 0;
	padding: 0;
	padding-bottom:15px;
}
#sidebar-a p {
	margin: 0;
	padding: 0;
	padding-bottom:15px;
	}
	
td{
	
	font-size:85%;
	vertical-align:top;
	
}
#kolom_ {
	background-color: #f8f8f8;	
}

#kolom_ .td_home{
	/*padding-left:0px;
	border:1px solid #efefef;
	font-size:13px;*/
	border-left:1px solid #ddd3d4;
	border-right:1px solid #ddd3d4;
	border-top:1px solid #ddd3d4;
	border-bottom:1px solid #ddd3d4;
	font-size:13px;
}


/*
#kolom_ .td_home a {
	color: black;
	text-decoration: none;
}
#kolom_ .td_home a:hover{
	color: black;
	text-decoration:underline;
}

tr{

}
*/
.circled{
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;;
   width:1px;
    height:1px;   
	font-size:85%;
	float:left;
}
#table_main
{
margin:auto;
width:100%;	

}
.summary
{
	width:100%;
	font-family: Monaco, Verdana, Sans-serif;
 		
}
.summary td
{
	font-size: 12px;
 	
}
.summary .info
{
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	background-color:#e3e3e3;
	font-size: 15px;
	text-align:center;
	font-weight:bolder;
}
.summary a
{
	text-decoration:none;
}

.divmask
{
	opacity:.50;filter: alpha(opacity=50);
	left:0px;
	top:0px;
	position:absolute;
	width:100%;
	height:400%;
	background-color:#e3e3e3;
	z-index:1000;
	background-image:url('ajax-loader.gif');
	
	background-repeat:no-repeat;
	background-position:50% 15%;
}
.divmask2
{
	opacity:.50;filter: alpha(opacity=50);
	left:0px;
	top:0px;
	position:absolute;
	width:100%;
	height:400%;
	background-color:#e3e3e3;
	z-index:1000;
	
	background-repeat:no-repeat;
	background-position:50% 15%;
}

code {
 font-family: Monaco, Verdana, Sans-serif;
 font-size: 12px;
 background-color: #f9f9f9;
 border: 1px solid #D0D0D0;
 color: #002166;
 display: block;
 margin: 14px 0 14px 0;
 padding: 12px 10px 12px 10px;
}	


.calendar {
    font-family: Arial, Verdana, Sans-serif;
    width: 70%;
    min-width: 500px;
    border-collapse: collapse;
}

.calendar tbody tr:first-child th {
    color: #505050;
    margin: 0 0 10px 0;
	text-align:center;
}

.day_header {
    font-weight: normal;
    text-align: center;
    color: #757575;
    font-size: 10px;
}

.calendar td {
    width: 14%; /* Force all cells to be about the same width regardless of content */
    border:1px solid #CCC;
    height: 100px;
    vertical-align: top;
    font-size: 10px;
    padding: 0;
}

.calendar td:hover {
    background: #F3F3F3;
}

.day_listing {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #2C2C2C;
    padding: 5px 5px 0 0;
}

div.today {
    background: #E9EFF7;
    height: 100%;
} 

.halaman {
	background-color:#f3f5a0;
	height:22px;
	width:100%;
	vertical-align:middle;	

}
div#qTip {
 padding: 3px;
 border: 1px solid #666;
 border-right-width: 2px;
 border-bottom-width: 2px;
 display: none;
 background: #999;
 color: #FFF;
 font: bold 9px Verdana, Arial, sans-serif;
 text-align: left;
 position: absolute;
 z-index: 1000;
}
.ui-slider {
	clear: both;
	top: 1em;
	
}
.hovers {
	background-color:#f9fede;
	border:#b9b9b9;
}



/* Z-index of #mask must lower than #boxes .window */
#mask {
left:0px;
	top:0px;
	width:100%;
	height:400%;
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
  
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}


/* Customize your modal window here, you can add background image too */
#boxes #dialog {
	position:fixed;
	top:800px;	
  background-color:white;
  width:375px; 
  height:250px;
}

/* tempalte*/
#notes {
	font-size:11px;
	}
/* untuk tampilan */

#overdue_detail #data_header{
	font-size:90%;
	background-color:#e3e3e3;
	border:1px solid black;
}

#overdue_detail #data_detail{
	font-size:80%;
	}
#overdue_search_box
{
	text-align:right;
}

.divmask
{
	opacity:.50;filter: alpha(opacity=50);
	left:0px;
	top:0px;
	position:absolute;
	width:100%;
	height:400%;
	background-color:#e3e3e3;
	z-index:1000;
	background-image:url('http://localhost/xl/assets/images/loading.gif');
	
	background-repeat:no-repeat;
	background-position:50% 15%;
}

.row-gutter-margin { 
	margin-bottom:10px;
	 
}
.row-font-size
{
	font-size:83%;
	}
	
	
/* top panel */ 


#panel {
	background: #fefe;
	height: auto;
	display: none;
	/*border : 1px solid black;*/
}
#panel-pembuka {
	background: #fefe;
	height: auto;
	display: none;
	/*border : 1px solid black;*/
}
.slide {
	margin: 0;
	padding: 0;
	border-top: solid 4px #422410;
	background: url(images/btn-slide.gif) no-repeat center top;*/
}
.btn-slide {
	/*background: url(images/white-arrow.gif) no-repeat right -50px;*/
	background-color:#ee3e3;
	padding: 0px 0px 0 0;
	margin: 0px 0px;
	text-decoration: none;
}

a.btn-slide.down .fa.fa-angle-right:before{
	content: "\f107";
}

.btn-slide-pembuka {
	/*background: url(images/white-arrow.gif) no-repeat right -50px;*/
	background-color:#ee3e3;
	padding: 0px 0px 0 0;
	margin: 0px 0px;
	text-decoration: none;
}

a.btn-slide-pembuka.down .fa.fa-angle-right:before{
	content: "\f107";
}


.active {
	background-position: right 12px;
}

#header_logo{
	background-color :white;
	}

/*
Artikel Searchs
*/
#artikel_search{
	font-size:14px;
}

/*
Jurnal Searchs
*/
#jurnal_search{
	font-size:14px;
}


/*autocomplete*/
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }